/* DESIGN:
  font-family: 'DynaPuff', 'sans serif'  
  main background: #21D19F (mint)
  side panels background: #45B69C (keppel)
  classic hover: #EEB868 (earth yellow)
  wizard hover: #772D8B (eminence)
  to use later: #FFEFD3 (papaya whip)

*/
  
/* GENERAL */

* {
  /* border: 2px solid rgb(0, 166, 255); */
  color: white;
}

html {
  height: 100vh;
  width: 100vw;
  font-size: 62.5%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  font-family: 'DynaPuff', 'sans serif';
}

html, body {
  margin: 0;
}

.panel, .view, .game-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel {
  height: 100%;
}

h2 {
  font-size: 5rem;
  font-weight: 500;
}

h3 {
  font-size: 4rem;
  font-weight: 400;
}

.classic, .variation, .icons, button {
  cursor: pointer;
}

.classic:hover, .variation:hover, .icons:hover {
  
}

/* MAIN SECTION */

main {
  width: 60%;
  background-color: #21D19F;
}

h1 {
  font-size: 8.5rem;
}

.view {
  height: 100%;
  width: 100%;
}

.view-header {
  height: 10%;
  width: 100%;
  margin: 0;
  text-align: center;
}

.game-boxes {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.game-box {
  background-color: #45B69C;
  border: dotted white;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 2.3rem; 
}

.icons {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

img {
  width: 25%;
}

.classic-box {
  height: 35%;
  width: 35%;
}

.wizard-box {
  height: 45%;
  width: 50%;
}

.classic-box, .wizard-box, button {
  transition: background-color 250ms;
}

.classic-box:hover, .classic-button:hover {
  background-color: #EEB868;
}

.wizard-box:hover, .wizard-button:hover {
  background-color: #772D8B;
}

.wizards {
  width: 75%;
  flex-wrap: wrap;
}

.wizard {
  width: 25%;
  margin: 1em 0.5em;
}

.box-header {
  margin: 3rem;
}

/* SIDE PANELS */

.side-panel {
  width: 20%;
  background-color: #45B69C;
}

.side-panel-icon {
  font-size: 6rem;
  margin-top: 3em;
  margin-bottom: 0;
}

.side-panel-header {
  margin: 0;
}

button {
  height: 10%;
  width: 80%;font-family: 'DynaPuff', 'sans serif';
  background-color: #21D19F;
  border: dotted white;
  color: white;
  border-radius: 40px;
  margin: 2.5em;
  font-weight: 400;
  font-size: 2.25rem;
}

.result {
  color: #FFEFD3;
}

/* HIDDEN */

.hidden {
  display: none;
}

/* ANIMATIONS */

